{% extends "base/base.html" %}
{% block content %}
<div class="wrapper">
  <div class="main-title">
    <p class="heading"><a href="/index">STUDY ENGLISH</a></p>
    <p class="sub-heading">just fun and learn</p>
  </div>
<div class="works-heading">
    <h4>MENU</h4>
</div>
<div class="works" id="sites">     
    <div class="work">
      <div class="item">
      <a href="/words">
      <img src="/media/words.png" />
      </a>
      </div>
      <p>WORDS</p>
    </div>
    <div class="work">
      <div class="item">
      <a href="#">
      <img src="/media/translator.jpg" />
      </a>
      </div>
      <p>TRANSLATION</p>
    </div>
  </div>
{% endblock %}